<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>MODIFICACIÓN</title>

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>

<nav class="navbar navbar-expand-sm bg-light">

  <ul class="navbar-nav">

    <!-- ABM -->

    <li class="nav-item">
      <a href="/" class="nav-link">INICIO</a>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        ABM
      </a>

      <div class="dropdown-menu">

        <a class="dropdown-item" href="/alumnos/alta">Alta</a>
        <a class="dropdown-item" href="/alumnos/baja">Baja</a>
        <a class="dropdown-item disabled" href="/alumnos/modificacion">Modificación</a>
        <div class="dropdown-item"></div>
        <a class="dropdown-item" href="/alumnos/listado">Listado</a>

      </div>
    </li>

    <!-- CONSULTAS -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        CONSULTAS ALUMNOS
      </a>
      <div class="dropdown-menu">

        <a class="dropdown-item" href="/alumnos/residentes_batan">Residentes de Batán</a>
        <a class="dropdown-item" href="/alumnos/residentes_batan_rh_negativo">Residentes de Batán con grupo sanguineo RH-</a>
        <a class="dropdown-item" href="/alumnos/nacidos_2002">Nacidos en 2002</a>
        <a class="dropdown-item" href="/alumnos/ordenados_dni_ascendente">Ordenados por D.N.I. ascendente</a>
        <a class="dropdown-item" href="/alumnos/domicilio_av_jb_justo">Con domicilio Av. J.B. Justo</a>

      </div>
    </li>

  </ul>

</nav>

<div class="container">

  <h1 class="text-center m-4">MODIFICAR REGISTRO ALUMNO</h1>

{{#each alumnos}}
  <form action="/alumnos/confirmar_modificacion" method="POST" class="border p-3 m-3">

    <div class="form-group">
      Número legajo <input type="number" class="form-control" value="{{numero_legajo}}" name="numero_legajo" disabled>
    </div>

    <input type="hidden" value="{{numero_legajo}}" name="numero_legajo"> 

    <div class="form-group">
      Apellido <input type="text" class="form-control" value="{{apellido}}" name="apellido">
    </div>
    <div class="form-group">
      Domicilio <input type="text" class="form-control" value="{{domicilio}}" name="domicilio">
    </div>

    <div class="form-group">
      Código postal <input type="text" class="form-control" value="{{codigo_postal}}" name="codigo_postal">
    </div>

    <!-- <div class="form-group"> -->
    <!--   Código postal --> 

    <!--   <select class="form-control" value="codigo_postal"> -->
    <!--     <option value="7600"> Mar del Plata </option> -->
    <!--     <option value="7601"> Batán </option> -->
    <!--     <option value="8000"> Bahía Blanca </option> -->
    <!--   </select> -->

    <!-- </div> -->

    <div class="form-group">
      Fecha nacimiento <input type="date" class="form-control" value="{{fecha_nacimiento}}" name="fecha_nacimiento">
    </div>

    <div class="form-group">
      Email <input type="email" class="form-control" value="{{email}}" name="email">
    </div>
    <div class="form-group">
      Grupo sanguíneo <input type="text" class="form-control" value="{{grupo_sanguineo}}" name="grupo_sanguineo">
    </div>
    <div class="form-group">
      Teléfono <input type="number" class="form-control" value="{{telefono}}" name="telefono">
    </div>
    <div class="form-group">
      Celular <input type="number" class="form-control" value="{{celular}}" name="celular">
    </div>
    <div class="form-group">
      D.N.I. <input type="number" class="form-control" value="{{dni}}" name="dni">
    </div>
    <button type="submit" class="btn btn-primary">Confirmar modificación</button>
  </form>
</div>

{{/each}}  

</body>
</html>
